@model IEnumerable<MVC_Amul.Models.amuladdproduct>
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm())
{


    <div class="container">
        @foreach (var x in Model)
        {

        <div class="row">
            @*<div class="col-lg-4 col-md-3 col-sm-4">
                <img src="~/image/@x.productimage" style="min-height:200px; width:200px;" />

            </div>*@

            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Productid:@x.productid</h1>
                <h2>ProductName:@x.productname</h2>
                <h3>Price:@x.price</h3>
                <h4>Description:@x.description</h4>
                <h5>quantity:@x.quantity</h5>

                @*<input type="number" name="quantity" value="0" id="quantity" />*@
                @*<input type="submit" name="Submit" class="btn-btn-default" />*@

            </div>
            <a id="btn_add" href="@Url.Action("Index", "Home")" class="btn btn-info btn-lg" style="margin-left:60px">
                <span class="glyphicon glyphicon-eye-open"></span>Remove
            </a>

        </div>
            break;
        }


    </div>
}






