@model MVC_Amul.Models.amuladdproduct
@{
    ViewBag.Title = "Adminhome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .auto-style2 {
        text-align: center;
        font-size: xx-large;
</style>




@*<h2>Adminhome</h2>*@
<div class="auto-style2" style="margin-top:10px;margin-bottom:30px; color:Highlight;"><strong>Adminhome</strong></div>

<div>
    <img src="~/image/admin.png" style="margin-left: 451px; height:400px;width:448px" />
</div>

